@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'refuse_trip';
  src: url("../fonts/refusetr-webfont.woff2") format("woff2"), url("../fonts/refusetr-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

::-moz-selection {
  background: #EC0254;
  color: #fff;
}

::selection {
  background: #EC0254;
  color: #fff;
}

html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "montserratregular";
  color: #060b50;
  top: 0;
  position: relative;
  overflow: auto;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "refuse_trip";
  text-transform: uppercase;
  color: #EC0254;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

body {
  background-color: #BDE842;
}

.stage-image-container {
  position: absolute;
  top: 50px;
  right: 60px;
  z-index: 400;
}

.stage-image-container img {
  width: 350px;
}

.stage-image-container .stage-image {
  position: relative;
}

.stage-image-container .stage-image .back-button {
  -webkit-transform: rotate(22deg);
          transform: rotate(22deg);
  top: -20px;
  font-size: 1.2rem;
  text-align: center;
  width: 260px;
  right: 0;
  position: absolute;
  color: #060b50;
}

img {
  max-width: 100% !important;
  height: auto !important;
}

.nf-form-title {
  display: none;
}

.nf-form-fields-required {
  display: none;
}

.submit-wrap input {
  width: 100% !important;
  max-width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
  background: #EC0254 !important;
}

.submit-wrap input:hover {
  color: white !important;
}

.content-container {
  width: 1600px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 30px;
  padding-top: 90px;
  padding-bottom: 120px;
  position: relative;
  z-index: 200;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content-container .content {
  padding-top: 6em;
}

@media (min-width: 768px) {
  .content-container .content.has-sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .content-container .content.has-sidebar .video {
    -ms-flex-preferred-size: calc(100% - 350px);
        flex-basis: calc(100% - 350px);
  }
  .content-container .content.has-sidebar .side-bar {
    -ms-flex-preferred-size: 350px;
        flex-basis: 350px;
    padding: 0px 30px;
  }
  .content-container .content.has-sidebar .side-bar h1, .content-container .content.has-sidebar .side-bar h2, .content-container .content.has-sidebar .side-bar h3, .content-container .content.has-sidebar .side-bar h4, .content-container .content.has-sidebar .side-bar h5, .content-container .content.has-sidebar .side-bar h6 {
    text-align: center;
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  z-index: 100;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.side-bar {
  line-height: 1.5em;
}

.side-bar *:first-child {
  margin-top: 0px;
}

@media (min-width: 768px) {
  .two-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .two-column .column {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 0px 30px;
  }
}

.background-images {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.background-images img {
  position: absolute;
}

.background-images .bottom {
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.background-images .left {
  left: 0;
  top: 20%;
}

.background-images .top-right {
  right: 0;
  top: 0;
}

.background-images .center-1 {
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
}

.background-images .center-2 {
  right: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 70%;
}

html {
  /* Change default typefaces here */
  font-size: 137.5%;
  -webkit-font-smoothing: antialiased;
}

/* Copy & Lists */
p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

ul li,
ol li {
  line-height: 1.5rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family: "refuse_trip";
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}

h1 {
  font-size: 4.242rem;
  line-height: 4.5rem;
  margin-top: 3rem;
}

h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 3rem;
}

h3 {
  font-size: 1.414rem;
}

h4 {
  font-size: 0.707rem;
}

h5 {
  font-size: 0.4713333333333333rem;
}

h6 {
  font-size: 0.3535rem;
}

/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}

table td,
table th {
  padding: 0;
  line-height: 33px;
}

/* Code blocks */
code {
  vertical-align: bottom;
}

/* Leading paragraph text */
.lead {
  font-size: 1.414rem;
}

/* Hug the block above you */
.hug {
  margin-top: 0;
}

.header .title {
  -ms-flex-item-align: center;
      align-self: center;
}

.return {
  margin-top: 1em;
  position: absolute;
  top: 40px;
  left: 30px;
  width: 260px;
  text-align: center;
  line-height: 1.25;
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
  z-index: 300;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.return a {
  text-decoration: none;
  display: block;
}

.return a:hover {
  color: #EC0254;
}

.title {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.caption {
  text-align: left;
  margin-top: 1em;
}

.sub-title {
  text-align: center;
  margin-top: 2em;
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

.videos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .videos-container.video-count-2 .video-container {
    -ms-flex-preferred-size: calc(1/2 * 100%);
        flex-basis: calc(1/2 * 100%);
  }
  .videos-container.video-count-3 .video-container {
    -ms-flex-preferred-size: calc(1/3 * 100%);
        flex-basis: calc(1/3 * 100%);
  }
  .videos-container.video-count-4 .video-container {
    -ms-flex-preferred-size: calc(1/3 * 100%);
        flex-basis: calc(1/3 * 100%);
  }
  .videos-container.video-count-5 .video-container {
    -ms-flex-preferred-size: calc(1/3 * 100%);
        flex-basis: calc(1/3 * 100%);
  }
  .videos-container.video-count-6 .video-container {
    -ms-flex-preferred-size: calc(1/3 * 100%);
        flex-basis: calc(1/3 * 100%);
  }
}

.videos-container .video-container {
  width: 100%;
  padding: 0px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  margin-bottom: 30px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 768px) {
  .videos-container .video-container {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.videos-container .video-container .video-thumbnail {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.videos-container .video-container .video-thumbnail:after {
  content: "";
  display: block;
  padding-bottom: 56.25%;
}

.videos-container .video-container .video-description {
  text-align: center;
}

/*# sourceMappingURL=app.css.map*/