@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'refuse_trip';
  src: url("../fonts/refusetr-webfont.woff2") format("woff2"), url("../fonts/refusetr-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

::-moz-selection {
  background: #EC0254;
  color: #fff;
}

::selection {
  background: #EC0254;
  color: #fff;
}

html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "montserratregular";
  color: #060b50;
  top: 0;
  position: relative;
  overflow: auto;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "refuse_trip";
  text-transform: uppercase;
  color: #EC0254;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

body {
  background-color: #BDE842;
}

img {
  max-width: 100% !important;
  height: auto !important;
}

.nf-form-title {
  display: none;
}

.nf-form-fields-required {
  display: none;
}

.submit-wrap input {
  width: 100% !important;
  max-width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
  background: #EC0254 !important;
}

.submit-wrap input:hover {
  color: white !important;
}

.content-container {
  width: 1600px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
  padding-top: 3em;
  padding-bottom: 2em;
  position: relative;
  z-index: 300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content-container .content .side-bar {
  line-height: 1.25;
  position: relative;
}

.content-container .content .side-bar *:first-child {
  margin-top: 0px;
}

@media (min-width: 768px) {
  .content-container .content.has-sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .content-container .content.has-sidebar .video {
    -ms-flex-preferred-size: calc(100% - 400px);
        flex-basis: calc(100% - 400px);
  }
  .content-container .content.has-sidebar .side-bar {
    -ms-flex-preferred-size: 375px;
        flex-basis: 375px;
    margin-left: 25px;
  }
  .content-container .content.has-sidebar .side-bar h1, .content-container .content.has-sidebar .side-bar h2, .content-container .content.has-sidebar .side-bar h3, .content-container .content.has-sidebar .side-bar h4, .content-container .content.has-sidebar .side-bar h5, .content-container .content.has-sidebar .side-bar h6 {
    text-align: center;
  }
}

.content-container.footer-container {
  padding-top: 0px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  z-index: 100;
  background-size: cover;
  background-position: center center;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .two-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .two-column .column {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 0px 30px;
  }
}

.page-template-template-stage .content-container {
  width: 1300px;
  padding-top: 1em;
}

.page-template-template-stage-two-col .column .image {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center center;
  border: 4px solid white;
  border-radius: 3px;
}

.page-template-template-stage-two-col .column .image:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.page-template-template-stage-two-col .column .content {
  margin-top: 45px;
}

.page-template-template-stage-two-col .column .content h1, .page-template-template-stage-two-col .column .content h2, .page-template-template-stage-two-col .column .content h3, .page-template-template-stage-two-col .column .content h4, .page-template-template-stage-two-col .column .content h5, .page-template-template-stage-two-col .column .content h6 {
  margin-bottom: 1em;
}

.panel {
  position: relative;
}

.panel .content {
  z-index: 1;
  position: relative;
  padding: 60px 30px;
}

.panel .content > h1,
.panel .content > h2,
.panel .content > h3,
.panel .content > h4,
.panel .content > h5,
.panel .content > h6 {
  margin-top: 0px;
}

.panel .content ol, .panel .content ul {
  margin-top: 10px;
}

.panel .content ol, .panel .content ul, .panel .content li {
  font-size: 13px;
  line-height: 1.4;
}

.panel .content li {
  margin-bottom: 10px;
}

.panel:after {
  display: block;
  content: '';
  height: 100%;
  background: white;
  border-radius: 4px;
  border-style: dotted;
  border-color: #EC0254;
  outline: 10px dotted white;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.stage-header {
  position: relative;
  padding-top: 2em;
  z-index: 200;
}

@media (min-width: 768px) {
  .stage-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .stage-header .left {
    width: 300px;
  }
  .stage-header .right {
    width: 400px;
  }
  .stage-header .middle {
    -ms-flex-preferred-size: calc(100% - 700px);
        flex-basis: calc(100% - 700px);
  }
  .stage-header .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .stage-header .left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .stage-header .middle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .stage-header .right {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.stage-header .left {
  text-align: center;
}

.stage-header .left a {
  color: #060b50;
}

.stage-header .left a:hover {
  -webkit-animation: mainfieldshake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) forwards infinite;
          animation: mainfieldshake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) forwards infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.stage-header .left .return-container {
  position: relative;
}

.stage-header .left .return-container .flag {
  position: absolute;
  z-index: 200;
  top: 90px;
  left: 0px;
  max-height: 100px;
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
}

.stage-header .left .return {
  top: 40px;
  left: 30px;
  width: 260px;
  text-align: center;
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
  z-index: 300;
  position: relative;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.stage-header .left .return a {
  text-decoration: none;
  display: block;
}

.stage-header .middle .title {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 6em;
  font-size: 6vw;
  line-height: 1.2;
}

.stage-header .middle .before-title {
  text-align: center;
  font-size: 1em;
  margin-top: 0em;
  margin-bottom: 0.5em;
  line-height: 1;
}

.stage-header .middle .before-title p {
  margin-top: 0px;
}

.stage-header .middle .sub-title {
  text-align: center;
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 800px;
  line-height: 1;
}

.stage-header .middle .sub-title p {
  margin-top: 0px;
}

.stage-header .right:hover .back-button-container {
  -webkit-animation: previousfieldshake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) forwards infinite;
          animation: previousfieldshake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) forwards infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.stage-header .right a h4 {
  color: #060b50;
}

.stage-header .right .stage-image-container {
  width: 100%;
  max-width: 100%;
  z-index: 400;
}

.stage-header .right .stage-image-container .stage-image {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.stage-header .right .stage-image-container .stage-image img {
  width: 100%;
  max-width: 100%;
}

.stage-header .right .stage-image-container .stage-image .back-button {
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
  top: 20px;
  font-size: 1.2rem;
  text-align: center;
  width: 260px;
  right: -50px;
  position: relative;
  margin-top: 0px;
  color: #060b50;
}

@-webkit-keyframes mainfieldshake {
  10%, 90% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  20%, 80% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  30%, 50%, 70% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  40%, 60% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
}

@keyframes mainfieldshake {
  10%, 90% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  20%, 80% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  30%, 50%, 70% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  40%, 60% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
}

@-webkit-keyframes previousfieldshake {
  10%, 90% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  20%, 80% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  30%, 50%, 70% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  40%, 60% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
}

@keyframes previousfieldshake {
  10%, 90% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  20%, 80% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  30%, 50%, 70% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  40%, 60% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
}

.stage-banner-container {
  padding-top: 0em;
  width: 1300px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  margin-top: -1em;
}

.stage-banner-container .row {
  display: table;
  width: 100%;
  height: 100%;
  margin: auto;
}

.stage-banner-container .block {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  position: relative;
}

.stage-banner-container .header {
  display: block;
}

.stage-banner-container a {
  color: #060b50;
  text-decoration: underline;
  display: block;
}

.dark-banner .stage-banner-container a {
  color: white;
}

.stage-banner-container p {
  position: relative;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0.15em;
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  color: white;
}

.dark-banner .stage-banner-container p {
  color: #060b50;
}

.stage-banner-container p:after, .stage-banner-container p:before {
  content: " ";
  display: block;
  position: absolute;
  bottom: -.5em;
  width: 1em;
  height: 100%;
  background-color: white;
  pointer-events: none;
}

.dark-banner .stage-banner-container p:after, .dark-banner .stage-banner-container p:before {
  background-color: #0a127f;
}

.stage-banner-container p:after {
  right: -.57em;
  z-index: -1;
}

.stage-banner-container p:before {
  bottom: auto;
  top: -.5em;
  left: -.57em;
  z-index: -1;
}

.stage-banner-container p span {
  display: inline-block;
  position: relative;
  padding: .45em .75em;
  text-decoration: none;
  background-color: white;
  color: #EC0254;
}

.dark-banner .stage-banner-container p span {
  background-color: #0a127f;
  color: white;
}

.stage-banner-container p span:after, .stage-banner-container p span:before {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  bottom: -.5em;
  left: -.05em;
  pointer-events: none;
  -webkit-mask: none;
}

.stage-banner-container p span:before {
  bottom: auto;
  top: -.5em;
  border-bottom: 0.5em solid #e6e5e5;
  border-left: .5em solid transparent;
}

.dark-banner .stage-banner-container p span:before {
  border-bottom: 0.5em solid #020421;
}

.stage-banner-container p span:after {
  left: auto;
  right: -.05em;
  border-top: 0.5em solid #e6e5e5;
  border-right: .5em solid transparent;
}

.dark-banner .stage-banner-container p span:after {
  border-top: 0.5em solid #020421;
}

.decorations {
  position: relative;
  height: auto;
  width: auto;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.decorations .path {
  margin: 0 auto;
  display: block;
  left: 10%;
  position: relative;
  max-height: 700px !important;
  max-width: 100%;
}

.background-images {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-images img {
  position: absolute;
}

.background-images .bottom {
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.background-images .left {
  left: 0;
  top: 20%;
}

.background-images .top-right {
  right: 0;
  top: 0;
}

.background-images .center-1 {
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
}

.background-images .center-2 {
  right: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 70%;
}

html {
  /* Change default typefaces here */
  font-size: 137.5%;
  -webkit-font-smoothing: antialiased;
}

/* Copy & Lists */
p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

ul li,
ol li {
  line-height: 1.5rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family: "refuse_trip";
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}

h1 {
  font-size: 4.242rem;
  line-height: 4.5rem;
  margin-top: 3rem;
}

h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 3rem;
}

h3 {
  font-size: 1.414rem;
}

h4 {
  font-size: 0.707rem;
}

h5 {
  font-size: 0.4713333333333333rem;
}

h6 {
  font-size: 0.3535rem;
}

/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}

table td,
table th {
  padding: 0;
  line-height: 33px;
}

/* Code blocks */
code {
  vertical-align: bottom;
}

/* Leading paragraph text */
.lead {
  font-size: 1.414rem;
}

/* Hug the block above you */
.hug {
  margin-top: 0;
}

.caption {
  text-align: left;
  margin-top: 1em;
}

a {
  text-decoration: none;
}

a:hover {
  color: #EC0254;
}

.button-shortcode {
  display: inline-block;
  background: #EC0254;
  color: #fff;
  padding: 0.5em 1.25em;
  font-size: 1em;
  border-radius: 3px;
  border: 3px dashed white;
}

.button-shortcode:hover {
  color: inherit !important;
}

.videos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .videos-container.video-count-2 .video-container {
    -ms-flex-preferred-size: calc(1/2 * 100%);
        flex-basis: calc(1/2 * 100%);
    margin-bottom: 0px;
  }
  .videos-container.video-count-3 .video-container {
    -ms-flex-preferred-size: calc(1/3 * 100%);
        flex-basis: calc(1/3 * 100%);
    margin-bottom: 0px;
  }
  .videos-container.video-count-4 .video-container {
    -ms-flex-preferred-size: calc(1/3 * 100%);
        flex-basis: calc(1/3 * 100%);
  }
  .videos-container.video-count-4 .video-container:last-child {
    margin-bottom: 0px;
  }
  .videos-container.video-count-5 .video-container {
    -ms-flex-preferred-size: calc(1/3 * 100%);
        flex-basis: calc(1/3 * 100%);
  }
  .videos-container.video-count-5 .video-container:last-child, .videos-container.video-count-5 .video-container:nth-child(4) {
    margin-bottom: 0px;
  }
  .videos-container.video-count-6 .video-container {
    -ms-flex-preferred-size: calc(1/3 * 100%);
        flex-basis: calc(1/3 * 100%);
  }
  .videos-container.video-count-6 .video-container:last-child, .videos-container.video-count-6 .video-container:nth-child(4), .videos-container.video-count-6 .video-container:nth-child(5) {
    margin-bottom: 0px;
  }
}

.videos-container .video-container {
  width: 100%;
  padding: 0px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  margin-bottom: 30px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media (min-width: 768px) {
  .videos-container .video-container {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.videos-container .video-container .video-thumbnail {
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
}

.videos-container .video-container .video-thumbnail:after {
  content: "";
  display: block;
  padding-bottom: 56.25%;
}

.videos-container .video-container .video-description {
  text-align: center;
  margin-top: 1em;
}

/*# sourceMappingURL=app.css.map*/