.content-container {
    width: 1600px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
    z-index: 300;
    box-sizing: border-box;
    .content {
        &.has-sidebar {
            @media (min-width: 768px) {
                display: flex;
                flex-direction: row;
                .video {
                    flex-basis: calc(100% - 400px);
                }
                .side-bar {
                    flex-basis: 375px;
                    margin-left: 25px;
                    background: white;
                    border-radius: 4px;
                    padding: 30px;
                    h1,h2,h3,h4,h5,h6 {
                        text-align: center;
                    }
                }
            }
        }
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    z-index: 100;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.side-bar {
    line-height: 1.5;
    background: #white;
    *:first-child {
        margin-top: 0px;
    }
}

.two-column {
    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        .column {
            flex-basis: 50%;
            padding: 0px 30px;
        }
    }

    .content {
        background: white;
        border-radius: 4px;
        padding: 30px;
    }
}


// Custom content widths

.page-template-template-stage {
    .content-container {
        width: 1300px;
        padding-top: 1em;
    }
}

.page-template-template-stage-two-col {
    .column {
        .image {
            width: 100%;
            height: auto;
            background-size: cover;
            background-position: center center;
            border: 4px solid $blue;
            border-radius: 3px;
            &:after {
                content: '';
                display: block;
                padding-bottom: 100%;
            }
        }
        .content {
            margin-top: 45px;;
            h1,h2,h3,h4,h5,h6 {
                margin-bottom: 1em;
            }
        }
    }
}