@mixin mainfieldshake {
    animation: mainfieldshake 1s cubic-bezier(.36,.07,.19,.97) forwards infinite;
    animation-fill-mode: forwards;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;    
}

@mixin previousfieldshake {
    animation: previousfieldshake 1s cubic-bezier(.36,.07,.19,.97) forwards infinite;
    animation-fill-mode: forwards;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;    
}


.stage-header {
    position: relative;
    z-index: 200;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    @media (min-width: 768px) {
        padding-top: 2em;
    }
    .col {
        width: 100%;
        max-width: 100%;
        justify-content: center;
        align-content: center;
        text-align: center;
    }   
    .col.left {
        display: none;
    }
    .col.middle {
        order: 2;
        margin-bottom: 20px;
        .title {
            font-size: 1.5em;
        }
    }
    .col.right {
        order: 1;
        .stage-image-container .stage-image img {
            max-width: 100%;
            width: 200px;
            height: auto;
        }
        .back-button-container {
            display: none;
        }
    }
    @media (min-width: 600px) {
        .col.left {
            display: block;
            .return-container {
                padding-right: 0px;
                display: block;
                width: 200px;
                margin-left: auto;
                margin-right: auto;
                position: absolute;
                top: 20px;
                left: 0;
                .return {
                    width: 100%;
                    transform: rotate(0deg);
                    top: 0;
                    left: 0;
                    margin-bottom: 10px;
                    font-size: 1em;
                    line-height: 1.2;
                }
                .flag {
                    top: 0;
                    max-height: 50px;
                }
            }
        }
    } 
    @media (min-width: 700px) {
        display: flex;
        justify-content: center;
        flex-direction: row;
        .col {
            display: flex;
            flex-direction: column;
            align-items: center;
            order: initial;
        }
        .col.left {
            justify-content: flex-start;
            position: relative;
            order: initial;
            width: 200px;
            .return-container {
                position: relative;
                .return {
                    width: 300px;
                }
            }
        }
        .col.middle {
            justify-content: center;
            order: initial;
            flex-basis: calc(100% - 400px);
            width: calc(100% - 400px);
        }
        .col.right {
            align-items: flex-start;
            order: initial;
            width: 200px;
            .back-button-container {
                display: block;
            }
        }
    }

    @media (min-width: 800px) {
        .col {
            &.left {
                transform: rotate(-12deg);
            }
            &.middle {
                .title {
                    font-size: 5vw;   
                }
            }
        }
    }

     @media (min-width: 1000px) {
        .col {
            &.middle {
                .title {
                    font-size: 5vw;   
                }
            }
        }
    }

    @media (min-width: 1150px) {
        .col.left {
            width: 300px;
            .return-container {
                width: 100%;
                .return {
                    font-size: 1.4em;
                    line-height: 1.2;
                }
                .flag {
                    top: 30px;
                    left: 20px;
                    max-height: 100px;
                }
            }
        }
        .col.right {
            width: 300px;
            img {
                width: 100% !important;
            }
        }
        .col.middle {
            flex-basis: calc(100% - 600px);
        }
    }

    @media (min-width: 1300px) {
        .col.left {
            width: 400px;
        }
        .col.right {
            width: 400px;
            img {
                width: 100% !important;
            }
            .back-button {
                right: -50px;
                width: 260px;
                font-size: 1.4em !important;
                line-height: 1.2 !important;
            }
        }
        .col.middle {
            flex-basis: calc(100% - 800px);
        }
    }

    .left {
        text-align: center;
        a {
            color: $blue;
            &:hover {
                @include mainfieldshake;
            }
        }
        .return-container {
            position: relative;
            padding-right: 20px;
            .flag {
                position: absolute;
                z-index: 200;
                top: 90px;
                left: 0px;
                max-height: 100px;
                transform: rotate(-12deg);
            }
        }
        .return {
            top: 40px;
            left: 30px;
            width: 260px;
            text-align: center;
            transform: rotate(-12deg);
            z-index: 300;
            position: relative;
            transition: 0.1s ease-in;
            margin-top: 0px;
            font-size: 1.5em;
            a {
                text-decoration: none;
                display: block;
            }
            @media (min-width: 950px) {
                font-size: 1.5em;
            }
        }        
    }
    
    .middle {
        .title {
            text-align: center;
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 1.5em;
            font-size: 4vw;
            line-height: 1.2;

            @media (min-width: 950px) {
                font-size: 6vw;
                font-size: 3em;
            }

            &.normal-font {
                font-family: $bodyFont;
            }
        }

        .before-title {
            text-align: center;
            font-size: 1em;
            margin-top: 0em;
            margin-bottom: 0.5em;
            line-height: 1;
            p {
                margin-top: 0px;
            }
        }
        
    }

    .right {
        &:hover {
            .back-button-container {
                @include previousfieldshake;
            }
        }
        a {
            h4 {
                color: $blue;
            }
        }
        .stage-image-container {
            width: 100%;
            max-width: 100%;
            z-index: 400;
            .stage-image {
                position: relative;
                width: 100%;
                max-width: 100%;
                img {
                    width: 100%;
                    max-width: 100%;
                }
                .back-button {
                    transform: rotate(12deg);
                    top: 20px;
                    font-size: 1em;
                    line-height: 1.2;
                    text-align: center;
                    position: relative;
                    margin-top: 0px;
                    color: $blue;
                }
            }
        }        
    }
}

.stage-sub-header {
    .sub-title {
        text-align: center;
        margin-top: 0em;
        margin-bottom: 1em;
        width: 800px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        p {
            font-size: 0.8em;
            line-height: 1.2;
        }
        p {
            margin-top: 0px;
        }
        @media (min-width: 768px) {
            p {
                line-height: 1.2;
                font-size: 1em;
            }
        }
    }    
}

@keyframes mainfieldshake {
    10%, 90% {
        transform: rotate(-3deg);
    }    
    20%, 80% {
        transform: rotate(3deg);
    }    
    30%, 50%, 70% {
        transform: rotate(-3deg);
    }    
    40%, 60% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }
    100% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }        
}
@keyframes previousfieldshake {
    10%, 90% {
        transform: rotate(-3deg);
    }    
    20%, 80% {
        transform: rotate(3deg);
    }    
    30%, 50%, 70% {
        transform: rotate(-3deg);
    }    
    40%, 60% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }
    100% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }        
}
