@mixin mainfieldshake {
    animation: mainfieldshake 1s cubic-bezier(.36,.07,.19,.97) forwards infinite;
    animation-fill-mode: forwards;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;    
}

@mixin previousfieldshake {
    animation: previousfieldshake 1s cubic-bezier(.36,.07,.19,.97) forwards infinite;
    animation-fill-mode: forwards;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;    
}


.stage-header {
    position: relative;
    padding-top: 2em;
    z-index: 200;
    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        .left {
            width: 300px;
        }
        .right {
            width: 400px;
        }
        .middle {
            flex-basis: calc(100% - 700px);
        }
        .col {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .left {
            justify-content: flex-start;
        }
        .middle {
            justify-content: center;
        }
        .right {
            align-items: flex-start;
        }
    }

    .left {
        text-align: center;
        a {
            color: $blue;
            &:hover {
                @include mainfieldshake;
            }
        }
        .return-container {
            position: relative;
            .flag {
                position: absolute;
                z-index: 200;
                top: 90px;
                left: 0px;
                max-height: 100px;
                transform: rotate(-12deg);
            }
        }
        .return {
            top: 40px;
            left: 30px;
            width: 260px;
            text-align: center;
            transform: rotate(-12deg);
            z-index: 300;
            position: relative;
            transition: 0.1s ease-in;
            a {
                text-decoration: none;
                display: block;
            }
        }        
    }
    
    .middle {
        .title {
            text-align: center;
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 6em;
            font-size: 6vw;
            line-height: 1.2;
        }

        .before-title {
            text-align: center;
            font-size: 1em;
            margin-top: 0em;
            margin-bottom: 0.5em;
            line-height: 1;
            p {
                margin-top: 0px;
            }
        }
        .sub-title {
            text-align: center;
            font-size: 1.5em;
            margin-top: 1em;
            margin-bottom: 1em;
            width: 800px;
            line-height: 1;
            p {
                margin-top: 0px;
            }
        }    
    }

    .right {
        &:hover {
            .back-button-container {
                @include previousfieldshake;
            }
        }
        a {
            h4 {
                color: $blue;
            }
        }
        .stage-image-container {
            width: 100%;
            max-width: 100%;
            z-index: 400;
            .stage-image {
                position: relative;
                width: 100%;
                max-width: 100%;
                img {
                    width: 100%;
                    max-width: 100%;
                }
                .back-button {
                    transform: rotate(12deg);
                    top: 20px;
                    font-size: 1.2rem;
                    text-align: center;
                    width: 260px;
                    right: -50px;
                    position: relative;
                    margin-top: 0px;
                    color: $blue;
                }
            }
        }        
    }
}

@keyframes mainfieldshake {
    10%, 90% {
        transform: rotate(-3deg);
    }    
    20%, 80% {
        transform: rotate(3deg);
    }    
    30%, 50%, 70% {
        transform: rotate(-3deg);
    }    
    40%, 60% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }
    100% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }        
}
@keyframes previousfieldshake {
    10%, 90% {
        transform: rotate(-3deg);
    }    
    20%, 80% {
        transform: rotate(3deg);
    }    
    30%, 50%, 70% {
        transform: rotate(-3deg);
    }    
    40%, 60% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }
    100% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }        
}