.header {
    .title {
        align-self: center;
    }   
}

.return {
    margin-top: 1em;
    position: absolute;
    top: 40px;
    left: 30px;
    width: 200px;
    text-align: center;
    line-height: 1.25;
    font-size: 1.6em;
    transform: rotate(-12deg);
    z-index: 300;
    transition: 0.1s ease-in;
    a {
        text-decoration: none;
        display: block;
        &:hover {
            color: $red;
        }
    }
}

.title {
    text-align: center;
    font-size: 4em;
    // margin-top: 1.5em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.caption {
    text-align: center;
    margin-top: 2em;
    font-size: 1.5em;
}

.sub-title {
    text-align: center;
    margin-top: 2em;
    font-size: 1.5em;
}